.dht-plugin-container {
    background-color: var(--background-secondary);
}
.dht-adversary {
    margin: 1rem;
    padding: 1.0rem 0;

    .divider {
        margin: 0.5rem 0;
        padding: 0;
    }

    .narrow {
        max-width: 400px;
    }

    .two-cols {
        display: flex;
        flex-flow: wrap;
        flex-direction: column;
    }

    h1, .description {
        margin: 0;
    }

    h3 {
        margin: 0;
        margin-bottom: 0.5rem;
    }

    .description {
        font-style: italic;
    }

    dl {
        margin: 0;
    }

    dt {
        font-weight: bold;
    }

    dd {
        margin: 0;
    }

    .attributes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        text-align: center;
        margin: 0;
    }

    .attributes dd {
        font-size: larger;
    }

    .experience dd, dt {
        display: inline; 
    }

    .motives dd, dt {
        display: inline; 
    }

    .features {
        margin-right: 2rem;
    }

    .features .feature-list {
        list-style-type: none;
    }

    .features .feature-list li {
        padding: 0;
        padding-bottom: 1rem;
    }

    .encounter-header,
    .combatant-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .encounter-header h4 {
        margin-left: 0.5rem;
    }


    .encounter-header .controls,
    .combatant-header .controls {
        display: flex;
        align-content: center;
    }

    .encounter-header .controls {
        margin-right: 1.0rem;
    }

    // .btn-danger {
    //     background-color: ;
    // }

    .tracker {
        padding: 0.5rem;
        margin: 0.5rem;
        background-color: var(--background-primary);
    }

    .tracker .toggle-list {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 0;
        
    }

    .tracker .toggle-list .hp-label {
        text-transform: uppercase;
        padding-right: 0.5rem;
    }

    .tracker .toggle-list .stress-label {
        text-transform: capitalize;
        padding-right: 0.5rem;
    }

    .tracker .toggle-list li {
        margin: 0;
    }

    .tracker .toggle-list li:first-child {
        min-width: 60px;
    }

    .tracker .toggle-list li:nth-child(3n+1):not(:first-child) {
        padding-right: 0.75rem;
    }

    .toggle-list .toggle-item::before {
        content: none;
    }

    .divider::after {
        content: none;
    }

    h2::after, h3::after, h4::after, h5::after, h6::after {
        content: none;
    }
}