.dht-plugin-container {
    background-color: var(--background-secondary);
}

.dht-adversary-form,
.dht-environment-form {
    // form elements
    .form-group {
        display: flex;
        flex-direction: column;
        min-width: 80%;
    }

    .text-destructive {
        color: var(--text-error);
    }

    .text-sm {
        font-size: var(--font-small)
    }

    .text-xs {
        font-size: var(--font-smallest);
    }

    .text-muted-foreground {
        color: var(--text-muted)
    }

    .form-group {
        margin: 1.5rem 0;
    }

    .sub-group {
        display: flex;
        flex-direction: column;
        min-width: 80%;
        margin: 1.5rem 0;
    }

    .sub-group .added-button {
        display: flex;
        justify-content: space-between;
        align-items: end;
    }

    .sub-group .added-button button {
        margin: 1.0rem 0;
    }

    .add-button {
        margin: 1.0rem 0;
    }

    label {
        font-weight: var(--font-semibold);
    }

    .label-heading {
        font-size: 1.25rem;
    }

    .sub-group label {
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
    }

    p {
        margin: 0.25rem 0;
    }

    .form-group input,
    .form-group textarea,
    .form-group select {
        width: 100%;
    }
}


.dht-adversary,
.dht-environment {
    margin: 1.0rem;
    padding: 1.0rem 0;

    .divider {
        margin: 0.5rem 0;
        padding: 0;
    }

    .narrow {
        max-width: 400px;
    }

    .two-cols {
        display: flex;
        flex-flow: wrap;
        flex-direction: column;
    }

    h1, .description {
        margin: 0;
    }

    h3 {
        margin: 0;
        margin-bottom: 0.5rem;
    }

    .description {
        font-style: italic;
    }

    dl {
        margin: 0;
    }

    dt {
        font-weight: bold;
    }

    dd {
        margin: 0;
    }

    .attributes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        text-align: center;
        margin: 0;
    }

    .attributes dd {
        font-size: larger;
    }

    .experience dd, dt,
    .impulses dd, dt {
        display: inline; 
    }

    .motives dd, dt {
        display: inline; 
    }

    .features {
        margin-right: 2rem;
    }

    .features .feature-list {
        list-style-type: none;
    }

    .features .feature-list li {
        padding: 0;
        padding-bottom: 1rem;
    }

    .encounter-header,
    .combatant-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .encounter-header h4 {
        margin-left: 0.5rem;
    }


    .encounter-header .controls,
    .combatant-header .controls {
        display: flex;
        align-content: center;
    }

    .encounter-header .controls {
        margin-right: 1.0rem;
    }

    // .btn-danger {
    //     background-color: ;
    // }

    .tracker {
        padding: 0.5rem;
        margin: 0.5rem;
        background-color: var(--background-primary);
    }

    .tracker .toggle-list {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 0;
        
    }

    .tracker .toggle-list .hp-label {
        text-transform: uppercase;
        padding-right: 0.5rem;
    }

    .tracker .toggle-list .stress-label {
        text-transform: capitalize;
        padding-right: 0.5rem;
    }

    .tracker .toggle-list li {
        margin: 0;
    }

    .tracker .toggle-list li:first-child {
        min-width: 60px;
    }

    .tracker .toggle-list li:nth-child(3n+1):not(:first-child) {
        padding-right: 0.75rem;
    }

    // ITS Theme Overrides

    .toggle-list .toggle-item::before,
    .menu-list .menu-item::before {
        content: none;
    }

    .divider::after {
        content: none;
    }

    h2::after, h3::after, h4::after, h5::after, h6::after {
        content: none;
    }

    .dht-menu {
        position: absolute;
        float: left;
        top: 15px;
        right: -15px;
    }

    .dht-menu-controls {
        display: flex;
        flex-direction: row;
        align-items: end;
        justify-content: end;
    }

    .menu-list,
    .menu-item {
        margin: 0;
        margin-top: 0.5rem;
        padding: 0;
    }

    .menu-list {
        margin-top: 2.0rem;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: end;
    }

    .menu-item {
        margin: 0.25rem;
    }

    /* .menu-reveal {
        background-color: rgba(0, 0, 0, 0);
        border: 0;
        box-shadow: none;
    }

    .menu-reveal:hover {
        background-color: var(--background-secondary-alt);
        box-shadow: inset;
    } */
}

.dht-select-modal {
    text-align: center;

    ul.select-item-list {
        height: 400px;
        overflow: scroll;
        list-style: none;
        margin: 1.0rem 0;
        padding: 0;
    }

    .select-item {
        width: 100%;
        margin-top: 0.50rem;
    }

    .select-item-list .select-item::before
    {
        content: none;
    }

    .dht-type-selector {
        margin-bottom: 1rem;
    }
    
    .menu-button {
        margin-bottom: 1.0rem;
    }
}